__pycache__/
local_qdrant
local_mem0_qdrant
dist/
build/
venv/
.venv/
termicursor-ui/dist/
termicursor-ui/release/
termicursor-ui/node_modules/
landing-page/Termicursor Setup 0.0.0.exe
.env
.env.local
.env.*